@font-face {
  font-family: "Racama";
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Racama-Regular.woff2") format("woff2"),
    url("/fonts/Racama-Regular.woff") format("woff");
  font-display: swap;
}
