.header {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 54px;
  // }
  // &__link {
  //   display: none;
  // }
  &__menu {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .header {
    min-height: 56px;
    // display: flex;

    // &__link {
    //   display: block;
    //   margin-left: auto;
    // }

    &__menu {
      margin-left: 0;
    }
  }
}
