.map {
  margin: 0px 0px 20px 0;
  &__unit {
    width: 100%;
    height: 400px;
  }
  .container {
    position: relative;
  }

  &__card {
    position: absolute;
    top: 49px;
    right: 65px;
    width: 160px;
    // height: 200px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--active);
    color: var(--colortext);
    img {
      // object-fit: contain;
      // width: 120px;
      // height: auto;
      display: none;
    }
    p {
      margin: 0;
      text-align: center;
    }
    a {
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .map {
    &__card {
      position: absolute;
      top: 49px;
      left: 100px;
      width: 180px;
      // height: 200px;
      padding: 10px;
      border-radius: 15px;
      background-color: var(--active);
      color: var(--colortext);
      font-size: 1.1em;
      img {
        // object-fit: contain;
        width: 180px;
        height: auto;
        display: block;
        border-radius: 10px;
        margin: 6px 0;
      }
      // p {
      //   margin: 0;
      // }
      a {
        text-align: center;
      }
    }
    // &__address {
    //   margin-bottom: 3px;
    // }
  }
}

@media (min-width: 1440px) {
  .map {
    margin: 0px 0px 45px 0;

    &__card {
      position: absolute;
      top: 49px;
      left: 200px;
      width: 240px;
      // height: 200px;
      padding: 10px;
      border-radius: 15px;
      background-color: var(--active);
      color: var(--colortext);
      font-size: 1.3em;
      img {
        // object-fit: contain;
        width: 240px;
        // height: auto;
        // display: block;
        // border-radius: 10px;
        // margin: 6px 0;
      }
      // p {
      //   margin: 0;
      // }
      a {
        text-align: center;
      }
    }
    // &__address {
    //   margin-bottom: 3px;
    // }
  }
}
