.menu {
  display: flex;
  align-items: center;
  min-width: 136px;
  background-color: #ffffff;
  color: var(--primary);
  box-sizing: border-box;

  &--open {
    width: 290px;
    position: absolute;
    right: 0;
    top: 4px;
    background-color: transparent;
    color: #ffffff;

    .menu__icon--cross {
      display: block;
    }

    .menu__icon--menu {
      display: none;
    }

    .menu__content {
      display: block;
      z-index: 20;
    }
  }
}

.menu__icon--menu {
  width: 20px;
  height: 20px;
}

.menu__icon--cross {
  width: 20px;
  height: 20px;
  display: none;
}

.menu__text {
  margin-left: 16px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.menu__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  margin-left: auto;
  background-color: var(--primary);
  border: none;
  border-radius: 50%;
}

.menu__content {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  margin-top: 5px;
  background-color: rgb(244, 23, 6);
  color: #ffffff;
  border-radius: 16px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  z-index: 1;
}


.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 20px 25px;
  text-transform: uppercase;
}


.menu__link {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
  padding: 12px;

  &:hover,
  &:focus-visible {
    opacity: 1;
    outline: none;
  }
}

@media (min-width: 768px) {
  .menu {
    margin-left: 5%;
    &--open {
      position: static;
    }
  }
  .menu__toggle {
    display: none;
  }
  .menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .menu__content {
    display: block;
    position: static;
    top: 100%;
    left: -1px;
    right: -1px;
    margin-top: 0px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 16px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    box-sizing: border-box;
    z-index: 1;
  }

  .menu__item {
    margin: 0px;
    border-radius: 16px;
    padding: 0;
    background-color: var(--primary);

    &:hover,
    &:focus-visible {
      background-color: var(--active);
    }
  }
  .menu__active {
    background-color: var(--active);
  }
  .menu__link {
    padding: 20px;
  }
}

@media (min-width: 1440px) {
  .menu {
    margin-left: 15%;
    &--open {
      position: static;
    }
  }
  .menu__toggle {
    display: none;
  }
  .menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .menu__content {
    display: block;
    position: static;
    top: 100%;
    left: -1px;
    right: -1px;
    margin-top: 0px;
    color: #ffffff;
    border-radius: 16px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    padding: 0px;
    box-sizing: border-box;
    z-index: 1;
  }

}
