.renovation__pc {
  h2 {
    margin-bottom: 20px;
  }
  p {
    hyphens: auto;
  }
  .renovation__price {
    border-collapse: collapse; /* Границы ячеек не будут дублироваться */
    td {
      border: 2px solid var(--colortext); /* Граница ячеек */
      padding: 10px; /* Внутренний отступ */
      color: var(--colortext);
      background-color: var(--primary);
    }
  }
  .renovation__footnote {
    hyphens: auto;
    // li {
    //   margin-bottom: 10px;
    // }
  }

  // .renovation__diagnostic{

  // }
}

@media (min-width: 768px) {
  .renovation__pc {
    h2 {
      margin-bottom: 20px;
      font-size: 1.8em;
    }
    p {
      hyphens: auto;
      font-size: 1.5em;
      line-height: 1.3;
    }
    .renovation__price {
      margin: 0 auto;
      padding-bottom: 25px;
      border-collapse: collapse; /* Границы ячеек не будут дублироваться */
      .table__title {
        // background-color: aqua;
        font-size: 1.5em;
      }
      td {
        border: 2px solid var(--colortext); /* Граница ячеек */
        padding: 10px; /* Внутренний отступ */
        color: var(--colortext);
        background-color: var(--primary);
      }
      .first__column {
        width: 30em;
      }
      .lasrt__column {
        width: 10em;
      }
    }
    .renovation__footnote {
      padding: 10px 0 25px;
      margin: 0 auto;
      hyphens: auto;
      width: 48em;
      // margin-bottom: 25px;
      // li {
      //   padding-bottom: 10px;
      // }
    }
  }
}

@media (min-width: 1440px) {
  .renovation__pc {
    h2 {
      // margin-top: ;
      margin: 20px 0;
      font-size: 1.8em;
      text-align: center;
    }
    p {
      hyphens: auto;
      font-size: 1.5em;
      line-height: 1.3;
      width: 42em;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    .renovation__price {
      margin: 0 auto;
      padding-bottom: 25px;
      border-collapse: collapse; /* Границы ячеек не будут дублироваться */
      .table__title {
        // background-color: aqua;
        font-size: 1.5em;
      }
      td {
        border: 2px solid var(--colortext); /* Граница ячеек */
        padding: 10px; /* Внутренний отступ */
        color: var(--colortext);
        background-color: var(--primary);
      }
      .first__column {
        width: 30em;
      }
      .lasrt__column {
        width: 10em;
      }
    }
    .renovation__footnote {
      padding: 10px 0 25px;
      margin: 0 auto;
      hyphens: auto;
      width: 63em;
      // margin-bottom: 25px;
      // li {
      //   padding-bottom: 10px;
      // }
    }
  }
}
