.refill {
  h2 {
    margin-bottom: 20px;
  }
  p {
    hyphens: auto;
  }
  &__price {
    margin: 0 auto;
    border-collapse: collapse;
    td {
      border: 2px solid var(--colortext);
      padding: 10px;
      color: var(--colortext);
      background-color: var(--primary);
    }
    .last__column {
      width: 6em;
    }
  }

  &__description {
    hyphens: auto;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    li {
      margin: 5px 0;
    }
  }
}
@media (min-width: 768px) {
  .refill {
    h2 {
      margin-bottom: 20px;
    }
    p {
      hyphens: auto;
    }
    &__price {
      margin: 0 auto;
      width: 70%;
      border-collapse: collapse;
      td {
        border: 2px solid var(--colortext);
        padding: 10px;
        color: var(--colortext);
        background-color: var(--primary);
      }
    }

    &__description {
      hyphens: auto;
      text-align: justify;
      width: 70%;
      margin: 0 auto;
      li {
        margin: 5px 0;
      }
    }
  }
}
