.slider {
  padding: 20px 0;
  overflow: hidden;
  text-transform: uppercase;
  width: 290px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--primary);
  border-radius: 16px;
  min-height: 100px;
  color: var(--colortext);

  & .swiper-wrapper {
    margin: 30px 0px 30px;
  }

  & .swiper-pagination {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5px;
  }

  & .swiper-pagination-bullet {
    background-color: var(--colortext);
  }

  & .swiper-pagination-bullet-active {
    background-color: var(--colortext); 
  }
}

@media (min-width: 768px) {
  .slider {
    width: 678px;
    font-size: 1.5em;
  }
}

@media (min-width: 1440px) {
  .slider {
    width: 1240px;
  }
}
